*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Styling for the jumbotron */
.jumbotron {
  text-align: center;
  background-color: black;
  color: white;
  border-bottom: 10px solid black;
  border-top: 10px solid black;
  padding-top: 20px;
  padding-bottom: 20px;
}
