*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: dimgrey;
}
/* Styling for the jumbotron */
.jumbotron {
  text-align: center;
  background-color: deeppink;
  color: white;

  padding-top: 20px;
  padding-bottom: 20px;
}
