*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #87ceeb;
  background-image: url("clouds5.jpg");
}
/* Styling for the header */
header {
  text-align: center;
  background-color: #15446f;
  color: white;
  font-size: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.card-header {
  font-size: 30px;
  color: white;
  background-color: #567e9c;
}

.search-card {
  margin-bottom: 25px;
}

#city-input {
  border: solid #15446f 3px;
  padding: 2px 2px;
}

#query-btn {
  background-color: white;
  color: #15446f;
}

.list-group-item {
  background-color: #15446f;
  color: white;
  font-size: 20px;
  margin-bottom: 10px;
}

.uv-green {
  background-color: green;
}

.uv-yellow {
  background-color: yellow;
}

.uv-orange {
  background-color: orange;
}

.uv-red {
  background-color: red;
}

#uv {
  border-radius: 5px;
  color: white;
}
.card-body {
  font-size: 20px;
  line-height: 2.5rem;
}

.five-day {
  font-size: 30px;
  color: white;
  background-color: #567e9c;
  margin: 50px 10px;
  padding: 25px;
  border: solid 1px black;
}

.forecast-card {
  background-color: #567e9c;
  margin-bottom: 25px;
}

.card-text {
  font-size: 16px;
}

#forecast {
  margin-bottom: 50px;
}
